@import url('https://rsms.me/inter/inter.css');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Inter, sans-serif;

}

body {
    font-size: 16;
    font-weight: 400;
    letter-spacing: 1px;
}

header {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.display-none {
    display: none;
}

.logo {
    margin-top: 4px;
    margin-right: 20px;
}

.header-mid-container {
    display: flex;
    margin-right: 24px;
    align-items: center;
    height: 100%;
}

.header-mid-container button {
    height: 40px;
    background-color: #2196F3;
    color: white;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    width: 95px;
    cursor: pointer;
}

.header-mid {
    display: flex;
    justify-content: space-between;
    margin-right: 108px;
    align-items: center;
    height: 100%;
}

.header-mid .a-container {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.header-mid .a-container a {
    color: #212121;
    text-decoration: none;
    padding: 0 20px;
    line-height: 24px;
    background-color: #FFFFFF;
    letter-spacing: 0.5px;
}

.a-container:hover a {
    color: #2FA3F5;
}

.header-mid .a-container .hided-content,
.hided-content-more {
    display: none;
}

.header-mid .a-container:hover .hided-content {
    display: flex;
    position: absolute;
    top: 72px;
    left: 0;
    height: 418px;
    width: 100%;
    padding-left: 125px;
    padding-top: 44px;
    background-color: rgba(250, 250, 250, 0.98);
}

.header-mid .a-container:hover .hided-content-more {
    display: flex;
    position: absolute;
    top: 72px;
    left: 950px;
    height: 50px;
    width: 300px;
}

.default-hided-content {
    left: 400px;
}

.hided-content-more .content li {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: transparent;
}

.hided-content-more .content li a {
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    color: black;
    text-decoration: none;
    width: 300px;
    height: 49px;
    padding-left: 24px;
    padding-right: 0;
    align-items: center;
    justify-content: flex-start;
}

.hided-content-more .content li a:focus {
    border: 1px solid rgba(0, 0, 0, 0);
}

@keyframes rotate-in-time {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

.hided-content-more .content li a:focus svg {
    animation: rotate-in-time 0.1s linear;
    transform: rotate(180deg);
}

.hided-content-more .content li a:focus~.more-content {
    display: block;
}

.hided-content-more .content li a svg {
    margin-left: 8px;
    width: 16px;
    height: 16px;
}

.more-content {
    display: none;
}

.more-content a {
    border: none !important;
}

.more-content a:hover {
    background-color: #81C2F4;
}

.hided-content .content li {
    background-color: transparent;
    list-style: none;
    height: 32px;
    width: 435px;
}

.hided-content .content li a {
    font-weight: 500;
    background-color: transparent;
    letter-spacing: 0px;
    color: #757575;
    width: fit-content;
}

.hided-content .content li:hover a {
    background-color: transparent;
    color: #2196f3;
}

.hided-content .content li:hover a .a-side-hided-content,
.hided-content .content li a:hover .a-side-hided-content {
    display: block;
    height: 100%;
}

.hided-content .content li:hover~.a-side-hided-content {
    display: none;
}


.a-side-hided-content {
    position: absolute;
    top: 42px;
    left: 565px;
    width: 850px;
    color: black;

}

.a-side-hided-content h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 48px;
    width: 850px;

}

.a-side-hided-content p {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-top: 23px;
    width: 810px;
}

.tbuttons {
    display: flex;
}

.tbuttons button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 100%;
    outline: none;
    border: none;
}

.tbuttons button:hover {
    background-color: #ededed;
}

.video {
    transform: initial;
    width: 100%;
    pointer-events: none;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 5px;
}

.video iframe {
    z-index: -1;
    width: 130%;
    display: block;
    border: 0;
    height: 100vw;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
}

.text-video-overlay {
    margin-top: 162px;
    margin-left: 145px;
    color: white;
}

.text-video-overlay p {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.text-video-overlay h1 {
    font-size: 4rem;
    letter-spacing: 0px;
    line-height: 4.5rem;
    font-weight: 900;
    width: 850px;
    margin-top: 25px;
}

.text-video-overlay button {
    height: 48px;
    background-color: #2196F3;
    color: white;
    outline: none;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    width: 214px;
    margin-top: 32px;
    cursor: pointer;
}

.text-video-overlay button:hover {
    background-color: #309df4;
}

.section-1 {
    margin-top: 200px;
    margin-left: 145px;
}

.section-1 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 55px;
}

.section-1 h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    margin: 20px 0 0 32px;
}

.section-1 p {
    color: black;
    width: 220px;
    font-size: 16px;
    font-weight: 40s0;
    line-height: 24px;
    margin-top: 5px;
    margin-left: 32px;
    letter-spacing: 0px;
}

.section-1 .banner-container {
    display: flex;
    gap: 30px;
}

.section-1 .banner-container .banner {
    display: block;
    position: relative;
    width: 284.5px;
    height: 654px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    ;
}

.section-1 .banner-container .banner a:nth-last-child(1) {
    color: #2196f3;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    margin-top: 90px;
    margin-left: 32px;
    position: absolute;
    bottom: 32px;
}

.section-1 .banner-container .banner img {
    width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.section-2 {
    display: flex;
    width: 1230px;
    height: 72px;
    margin-left: 145px;
    margin-top: 142px;
    border-radius: 6px;
    padding-left: 24px;
    align-items: center;
    background-color: #F5F5F5;

}

.section-2 .item-1,
.section-2 .item-2,
.section-2 .item-3 {
    display: flex;
    line-height: 20px;
}

.section-2 .item-1 {
    margin-right: 70px;
}

.section-2 .item-2 {
    margin-right: 45px;
    width: 360px;
}

.section-2 .item-3 {
    width: 365px;
}

.section-2 .item-1 img {
    margin-right: 15px;
    height: 16.5px;
}

.section-2 .item-2 img {
    margin: auto;
    margin-right: 15px;
    height: 15px;
}

.section-2 .item-3 img {
    margin: auto;
    margin-right: 15px;
    height: 12px;
}

.section-2 .item-1 p,
.section-2 .item-2 p,
.section-2 .item-3 p {
    font-size: 14px;
    letter-spacing: 0px;
}

.section-3 {
    margin: 110px 144px 0px 145px;

}

.section-3 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 56px;
}

.section-3 .h-container {
    display: flex;
    width: 100%;
    gap: 29px;
}

.section-3 .h-container .item {
    position: relative;
    width: 600px;
    height: 587px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.section-3 .h-container .item img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.section-3 .h-container .item h1 {
    margin: 20px 0 0 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    color: #000;
}

.section-3 .h-container .item p {
    margin: 4px 32.5px 0 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    color: #000;
}

.section-3 .h-container .item .links {
    position: absolute;
    left: 31.5px;
    bottom: 32px;
}

.section-3 .h-container .item a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    color: #2196f3;
    text-decoration: none;
    margin: 0 19px 0 0;
}

.section-4 {
    margin: 0 145px;
}

.section-4 .item-1 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    margin-top: 144px;
    width: 580px;
}

.section-4 .item-1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    width: 810px;
    margin-top: 24px;
}

.section-4 .item-1 a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 24px;
    color: white;
    text-decoration: none;
    background-color: #2196f3;
    border-radius: 3px;
    padding: 12px 16px;
    width: 153px;
    margin-top: 17px;
}

.section-4 .item-2 {
    display: flex;
    width: 100%;
    margin-top: 32px;
    gap: 29px;
}

.section-4 .item-2 div {
    position: relative;
    width: 290px;
    height: 217.5px;
}

.section-4 .item-2 div h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
}

.section-4 .item-2 div p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    margin-top: 4px;
}

.section-4 .item-2 div a {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-decoration: none;
    color: #2196f3;
    bottom: 0;
    left: 0;
}

.section-5 {
    margin: 198.5px 0 0 145px;
}

.section-5 h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 29.5px;
}

.section-5 .item-1 {
    display: flex;
    gap: 30.5px;
}

.section-5 .item-1 .sub {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.section-5 .item-1 .sub a {
    width: 390px;
    height: 212px;
    position: relative;
}

.section-5 .item-1 a .txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 24px;
}

.section-5 .item-1 .sub a h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0px;
    width: 330px;
    margin: 0 0 0 24px;
}

.section-5 .item-1 .sub a p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    width: 345px;
    margin: 8px 0 0 24px;
}

.section-5 .item-1 .sub img {
    width: 100%;
    height: 100%;
    border-radius: 6.5px;
}

.section-5 a {
    display: block;
    position: relative;
    width: 810px;
    height: 455px;
    text-decoration: none !important;
    overflow: hidden;
    color: white;
    border-radius: 6.5px;
}


.section-5 a img {
    background-color: #000;
    width: 100%;
    height: 100%;
    border-radius: 6.5px;
    filter: brightness(80%);
}

.section-5 a:hover img {
    animation: img-hover 1s forwards;

}

.section-5 a:not(:hover) img {
    animation: img-focus-out 1s;
}


@keyframes img-hover {
    0% {}

    100% {
        width: 120%;
        height: 120%;
        filter: brightness(30%);
    }
}

@keyframes img-focus-out {
    0% {
        width: 120%;
        height: 120%;
        filter: brightness(30%);
    }

    100% {
        width: 100%;
        height: 100%;
        filter: brightness(80%);
    }
}


.section-5 a h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0px;
    margin: -211px 144px 29.5px 40px;
    z-index: 1;
}

.section-5 a p {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    margin: -21.5px 90px 15px 40px;
}

.section-5 .item-2 {
    display: flex;
    margin-top: 62px;
    justify-content: space-between;
    margin-right: 144px;
}

.section-5 .item-2 img {
    border-radius: 6px;
}

.section-5 .item-2 h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 0;
}

.section-5 .item-2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    margin-top: 8px;
}

.section-5 .item-2 .item {
    display: flex;
    width: 390px;
    height: 140px;
}

.section-5 .item-2 .item div {
    margin-left: 20px;
}

.hide {
    margin-top: 1900px;
}